#### MULTI LINEAR REGRESSION
- Assumptions Multilinear Regression
- Linear The Relationship between the products and the respones is linar
- Independence Observations are independent of each other
- Homoscedasticity The residuals (different between observed and predicted values) exhibit constant variance at all level
- Normal Distribution of errors the residuals of the model are normally distributed
- No multiconllinear the independent variables should not be too highly correlated with each other

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionsplots import influence_plot
import numpy as np

In [12]:
# Read the csv
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [18]:
# Rearange the columns
cars = pd.DataFrame(cars, columns=["HP","VOL","SP", "WT","MPG"],)
cars.head()

   HP  VOL          SP         WT        MPG
0  49   89  104.185353  28.762059  53.700681
1  55   92  105.461264  30.466833  50.013401
2  55   92  105.461264  30.193597  50.013401
3  70   92  113.461264  30.632114  45.696322
4  53   92  104.461264  29.889149  50.504232

#### Description of columns
- MPG : milege of the car
- VOL : Volume of the car (size)
- SP  : Top speed of the car (Miles per Hour)
- WT  : Weight of the car (Pounds)

#### EDA

In [22]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [24]:
# check for missing values
cars.isna().sum()

HP     0
VOL    0
SP     0
WT     0
MPG    0
dtype: int64

#### Observations
- There are no missing values
- There are 81 observations
- The data type of the columns are also relevent and valid